.mop-div{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
    
    
    h3{
        margin-top: 5rem;
        font-weight: 200;

    }


.our-partners {
    display: flex;
    
    width: 100%;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    
        
        .logo-container {
            align-self: center;
            margin:1rem 2rem;

            .fotoja {

                width: 10rem;
            }
        }
        
}
}

.butonii{
    padding:10px 20px;
    background-color: black;
    color: white;
    margin-bottom: 5rem;
    border-radius: 5px;
}

@media(max-width:1000px){
    .mop-div{
        width: 80%;
        align-items: center;
        margin-left: 5rem;
        h1{
            margin-bottom: 1rem;
        }

        .our-partners{
            flex-direction: column;
        }
    }
}